.btn {
  display: inline-block;
}

.btnImg {
  background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
  display: inline;
  width: 12%;
}

.divCells {
  width: 50%;
  padding-left: 25%;
  padding-top: 10px;
}

.cell {
  width: 100%;
}